@import url('https://fonts.googleapis.com/css2?family=Exo:wght@700;800;900&family=Inter:wght@400;500;600;700;800;900&family=Roboto:wght@400;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inter;
}
html{
    overflow-x: hidden;
}
body{
    overflow-x: hidden;
}
.container{
    padding-left: 70px;
    padding-right: 70px;
    margin: auto;
}
a{
    text-decoration: none;
    color: white;
}

:root{
    --mainColor:#FCA311;
}

@media screen and (max-width:1190px) {
    .container{
        padding-left: 30px;
        padding-right: 30px;
    }
}
@media screen and (max-width:550px) {
    html{
        font-size: 14px;
    }
}